# Track only the final preview page + author photos.
*
!index.html
!index-v5.html
!vop.html
!zasady-osobnich-udaju.html
!platba-hotovo.html
!platba-zrusena.html
!platba-ceka.html
!comgate-light.png
!comgate-dark.png
!robots.txt
!sitemap.xml
!favicon.svg
!apple-touch-icon.png
!og-image.png
!martin-kavka.jpg
!roman-veznik.jpg
!design-kit/
!design-kit/**
!.gitignore
